<!DOCTYPE html>
<html lang="en">
  <head>
    <%- await include('partials/head.html'); %>
  </head>
  <body>
    <header><%- await include('partials/header.html'); %></header>
    <section>
      <h1>Récupération des news...</h1>
      <div id="fetch-feeds-status">...</div>
      <script>
        function refreshFeedsStatus() {
          fetch("<%= locals.baseURL || '' %>/fetch-feeds-status", {
            method: "POST",
            body: JSON.stringify({}),
          })
            .then((response) => response.text())
            .then((html) => {
              document.getElementById("fetch-feeds-status").innerHTML = html;
              setTimeout(refreshFeedsStatus, 1000);
            })
            .catch((error) => {
              document.getElementById("fetch-feeds-status").innerHTML = error;
              setTimeout(refreshFeedsStatus, 1000);
            });
        }
        refreshFeedsStatus();
      </script>
    </section>
    <footer><%- await include('partials/footer.html'); %></footer>
  </body>
</html>
