<!DOCTYPE html>
<html lang="en">
  <head>
    <%- await include('partials/head.html'); %>
  </head>
  <body>
    <header><%- await include('partials/header.html'); %></header>
    <section>
      <h1>
        <a href="<%= locals.baseURL || '' %>/news">News</a>
        <small><%= currentPath%></small>
      </h1>
      <p><%= folders.length || 0%> dossiers, <%= items.length || 0%> news</p>
      <ul>
        <% folders.forEach(function(folder){ %>
        <li>
          <a href="?path=<%= currentPath%>/<%= folder.name%>"
            ><%- folder.name%> (<%= folder.count%>)</a
          >
        </li>
        <% }); %>
      </ul>
      <ul>
        <% items.forEach(function(item){ %>
        <li>
          <a href="<%= item.url%>" target="_blank"><%- item.title%></a>
          <form
            method="POST"
            action="<%= locals.baseURL || '' %>/remove-news-item"
          >
            <input type="hidden" name="key" value="<%- item.key%>" />
            <input type="submit" value="Supprimer" />
            <label><%= item.date%></label>
          </form>
        </li>
        <% }); %>
      </ul>
      <form
        method="POST"
        action="<%= locals.baseURL || '' %>/remove-all-news-item"
      >
        <input type="hidden" name="folder" value="<%- currentFullPath%>" />
        <input type="submit" value="Supprimer tout" />
      </form>
    </section>
  </body>
</html>
