<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zDemocracy</title>
  </head>
  <body>
    <h1><%= pollTitle%></h1>
    <form method="POST" action="/polls/<%= pollId%>/add-option">
      <input type="text" name="option" value="Option <%= pollOptions.length + 1%>"></input>
      <input type="submit" value="Ajouter une autre option"></input>
    </form>  
    <ul>
      <% pollOptions.forEach(function(option){ %>
        <li><%= option%></li>
      <% }); %>
    </ul>  
    <form method="POST" action="/polls/<%= pollId%>/publish">
      <input type="submit" value="Publier le sondage"></input>
    </form>
  </body>
</html>