<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zDemocracy</title>
  </head>
  <body>
    <h1>Qui va faire la vaisselle ?</h1>
    <ul>
      <li>Alice</li>
    </ul>
    <form action="/options3">
      <input type="text" name="option" placeholder="Bob"></input>
      <input type="submit" value="Ajouter une autre option"></input>
    </form>    
    <form action="/publish">
      <input type="submit" value="Publier le sondage"></input>
    </form>
  </body>
</html>