<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zDemocracy</title>
  </head>
  <body>
    <h1>Le sondage a été créé !</h1>
    <p>Copier le lien ci dessous et envoyer le aux participants</p>
    <a href="/polls/<%= poll.id%>/vote">https://zdemocracy.com/<%= poll.id%></a>
    <p>Résumé du sondage :</p>
    <p><%= poll.title%></p>
    <ul>
      <% poll.options.forEach(function(option){ %>
        <li><%= option%></li>
      <% }); %>
    </ul>
  </body>
</html>
