<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zDemocracy</title>
  </head>
  <body>
    <h1><%= poll.title%></h1>
    <form method="POST" action="/polls/<%= poll.id%>/voted">
      <label for="name">Votre nom :</label>
      <input type="text" id="name" name="name" value="Riri"></input>
      <ul>
        <% poll.options.forEach(function(option, optionIndex){ %>
          <p><%= option%></p>
          <div>
            <input type="radio" id="option_<%= optionIndex%>_oui" name="option_<%= optionIndex%>" value="oui">
            <label for="option_<%= optionIndex%>_oui">Oui</label>
          </div>
          <div>
            <input type="radio" id="option_<%= optionIndex%>_pourquoipas" name="option_<%= optionIndex%>" value="pourquoipas">
            <label for="option_<%= optionIndex%>_pourquoipas">Pourquoi pas</label>
          </div>
          <div>
            <input type="radio" id="option_<%= optionIndex%>_bof" name="option_<%= optionIndex%>" value="bof">
            <label for="option_<%= optionIndex%>_bof">Bof</label>
          </div>
          <div>
            <input type="radio" id="option_<%= optionIndex%>_non" name="option_<%= optionIndex%>" value="non" checked>
            <label for="option_<%= optionIndex%>_non">Non</label>
          </div>
        <% }); %>
      </ul>    
      <input type="submit" value="Valider les réponses"></input>
    </form>
  </body>
</html>