<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zDemocracy</title>
  </head>
  <body>
    <h1><%= poll.title%></h1>
    <form method="POST" action="/polls/<%= poll.id%>/validate-vote">
      <label for="name">Votre nom :</label>
      <input type="text" id="name" name="name" value="Loulou"></input>
      <ul>
        <% poll.options.forEach(function(option, optionIndex){ %>
          <p><%= option%></p>
          <% grades.forEach(function(grade){ %>
            <div>
              <input type="radio" id="option_<%= optionIndex %>_<%= grade.value %>" name="option_<%= optionIndex%>" value="<%= grade.value %>" required>
              <label for="option_<%= optionIndex%>_<%= grade.value %>"><%= grade.name %></label>
            </div>  
          <% }); %>
        <% }); %>
      </ul>    
      <input type="submit" value="Valider les réponses"></input>
    </form>
  </body>
</html>