<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zDemocracy</title>
  </head>
  <body>
    <h1><%= pollTitle%></h1>
    <p>Votre vote a été enregistré !</p>
    <form action="/">
      <input type="submit" value="Revenir à l'accueil"></input>
    </form>
    <p>Les personnes suivantes ont participé</p>
    <form method="POST" action="/polls/<%= pollId%>/close">
      <p>
        Si vous n'attendez plus de vote, vous pouvez 
        <input type="submit" value="Clôre le sondage"></input>
      </p>
    </form>
    <ul>
      <% pollVoters.forEach(function(voter){ %>
        <li><%= voter%></li>
      <% }); %>
    </ul>
  </body>
</html>
