<!DOCTYPE html>
<html lang="en">
  <head>
    <%- await include('partials/head.html'); %>
  </head>
  <body>
    <section>
      <h1>Nouvèl</h1>
      <h2>Dévérouiller l'application</h2>
      <form method="POST" action="<%= locals.baseURL || '' %>/unlock">
        <fieldset>
          <label for="password">Mot de passe</label>
          <input type="password" name="password" id="password" value="" />
        </fieldset>
        <input type="submit" value="Entrer" />
      </form>
    </section>
  </body>
</html>
