<!DOCTYPE html>
<html lang="en">
  <head>
    <%- await include('partials/head.html'); %>
  </head>
  <body>
    <header><%- await include('partials/header.html'); %></header>
    <section>
      <h1>News</h1>
      <ul>
        <% folders.forEach(function(folder){ %>
        <li>
          <a href="?path=<%= currentPath%>/<%= folder.name%>"
            ><%- folder.name%> (<%= folder.count%>)</a
          >
        </li>
        <% }); %>
      </ul>
      <ul>
        <% items.forEach(function(item){ %>
        <li>
          <a href="<%= item.url%>" target="_blank"><%- item.title%></a>
          <form method="POST" action="/remove-news-item">
            <input type="hidden" name="key" value="<%- item.key%>" />
            <input type="submit" value="Supprimer" />
            <label><%= item.date%></label>
          </form>
        </li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
