<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.html'); %>
  </head>
  <body>
    <section>
      <h1><%= pollTitle %></h1>
      <p>
        L'option qui l'emporte est <mark><%= pollWinnerOption.label %></mark> !
      </p>
      <form action="/">
        <input type="submit" value="Revenir à l'accueil" />
      </form>
      <h2>Détails des résultats</h2>
      <ul>
        <% pollOptions.forEach(function(option){ %>
        <li>
          <h4><%= option.label %> : <%= pollOptionGrades[option.id] %></h4>
          <small>
            ( <%pollGrades.forEach(function(grade){%> <%=
            pollOptionResultsByGrade[option.id][grade.id] %> <%= grade.label %>
            <% }); %> )
          </small>
        </li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
