<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.html'); %>
  </head>
  <body>
    <section>
      <h1><%= pollTitle %></h1>
      <p>L'option qui l'emporte est <mark><%= pollWinnerOption %></mark> !</p>
      <form action="/">
        <input type="submit" value="Revenir à l'accueil" />
      </form>
      <h2>Détails des résultats</h2>
      <ul>
        <% pollOptions.forEach(function(option, optionIndex){ %>
        <li>
          <h4><%= option %> : <%= pollOptionGrades[optionIndex] %></h4>
          <small>
            ( <%
            pollOptionResultsByGrade[optionIndex].forEach(function(gradeResult){
            %> <%= gradeResult.voteCount %> <%= gradeResult.name %> <% }); %> )
          </small>
        </li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
