<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.html'); %>
  </head>
  <body>
    <section>
      <h1>Liste des sondages</h1>
      <p>
        <span>Aller aux</span>
        <a href="#open">sondages en cours</a>,
        <a href="#close">sondages terminés</a>
        <form action="/">
          <label>ou</label>
          <input type="submit" value="Retourner à l'accueil">
        </form>
      </p>
      <p id="open">Sondages en cours :</p>
      <ul>
        <% polls.filter(poll => poll.status === "open").forEach(function(poll){ %>
          <li><a href="/polls/<%= poll.id%>/vote"><%= poll.title%></a></li>
        <% }); %>
      </ul>
      <p id="close">Sondages terminés :</p>
      <ul>
        <% polls.filter(poll => poll.status === "close").forEach(function(poll){ %>
          <li><a href="/polls/<%= poll.id%>/results"><%= poll.title%></a></li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
