<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.html'); %>
  </head>
  <body>
    <section>
      <h1>Le sondage a été créé !</h1>
      <p>Copier le lien ci dessous et envoyer le aux participants</p>
      <a href="/polls/<%= pollId%>/vote">https://zdemocracy.com/<%= pollId%></a>
      <h2>Résumé du sondage</h2>
      <p><%= pollTitle%></p>
      <ul>
        <% pollOptions.forEach(function(option){ %>
        <li><%= option.label%></li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
