<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.html'); %>
  </head>
  <body>
    <section>
      <h1><%= pollTitle%></h1>
      <p>Votre vote a été enregistré !</p>
      <form action="/">
        <input type="submit" value="Revenir à l'accueil" />
      </form>
      <form method="POST" action="/polls/<%= pollId%>/close">
        <label>Si vous n'attendez plus de vote, vous pouvez</label>
        <input type="submit" value="Clôre le sondage" />
      </form>
      <h2>Personnes ayant participé</h2>
      <ul>
        <% pollVoters.forEach(function(voter){ %>
        <li><%= voter%></li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
