<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.html'); %>
  </head>
  <body>
    <section>
      <h1><%= pollTitle%></h1>
      <form id="vote" method="POST" action="/polls/<%= pollId%>/validate-vote">
        <label for="name">Votre nom :</label>
        <input type="text" id="name" name="name" value="Loulou" />
        <% pollOptions.forEach(function(option, optionIndex){ %>
        <fieldset>
          <label for="option_<%= optionIndex%>"><%= option%></label>
          <% pollGrades.forEach(function(grade){ %>
          <label>
            <input
              type="radio"
              id="option_<%= optionIndex %>_<%= grade.value %>"
              name="option_<%= optionIndex%>"
              value="<%= grade.value %>"
              required
            />
            <%= grade.name %>
          </label>
          <% }); %>
        </fieldset>
        <% }); %>
      </form>
      <form id="home" action="/"></form>
      <p>
        <input type="submit" form="vote" value="Valider les réponses" />
        <span>ou </span>
        <input type="submit" form="home" value="Retourner à l'accueil" />
      </p>
    </section>
  </body>
</html>
