<div id="status">...</div>
<script>
  function refresh() {
    fetch("status")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("status").innerHTML = html;
        setTimeout(refresh, 1000);
      })
      .catch((error) => {
        document.getElementById("status").innerHTML = error;
        setTimeout(refresh, 1000);
      });
  }
  refresh();
</script>
<nav>
  <ul>
    <li>
      <form method="POST" action="<%= locals.baseURL || '' %>/reload-page">
        <input type="submit" value="Recharger la page" />
      </form>
    </li>
  </ul>
</nav>
