<div id="fetch-sync-status">...</div>
<script>
  function refreshSyncStatus() {
    fetch("<%= locals.baseURL || '' %>/fetch-sync-status", {
      method: "POST",
      body: JSON.stringify({}),
    })
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("fetch-sync-status").innerHTML = html;
        setTimeout(refreshSyncStatus, 1000);
      })
      .catch((error) => {
        document.getElementById("fetch-sync-status").innerHTML = error;
        setTimeout(refreshSyncStatus, 1000);
      });
  }
  refreshSyncStatus();
</script>
<nav>
  <ul>
    <li>
      <form method="POST" action="<%= locals.baseURL || '' %>/reload-page">
        <input type="submit" value="Recharger la page" />
      </form>
    </li>
  </ul>
</nav>
