<nav>
  <ul>
    <li><a href="<%= locals.baseURL || '' %>/news">📢 News</a></li>
    <li><a href="<%= locals.baseURL || '' %>/feeds">📡 Abonnements</a></li>
    <li>
      <a href="<%= locals.baseURL || '' %>/remotes">📦 Stockage</a>
    </li>
    <li>
      <a href="<%= locals.baseURL || '' %>/dev">🔧 Devtools</a>
    </li>
  </ul>
  <form method="POST" action="<%= locals.baseURL || '' %>/fetch-feeds">
    <input type="submit" value="Télécharger les news" />
  </form>
  <!-- Custom install button -->
  <%- await include('customInstallButton.html'); %>
</nav>
